$font-stack: Helvetica, sans-serif
$fontColor: green
$bgcolor : whitesmoke
$font-size : 50px

div
  background-color : $bgcolor
p
  font: $font-stack
  color: $fontColor
  font-size : $font-size







