button {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  background-color: rgb(255, 7, 7);
}

.buttonTrue
{
  background-color:green;

}
.buttonFalse
{
  background-color:red;

}

#noEdit
{
  background-color: antiquewhite;
}
