
<ul id="UL">
  <li>
    <a href="#">Home</a>
    <ul id="ULsub">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
  </li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Community</a></li>
  <li><a href="#">Careers</a></li>
</ul>


<!-- <div>
  <nav role="navigation">
    <ul>
      <li><a href="#">جدید ترین</a></li>
      <li><a href="#">مردانه</a>
        <ul class="dropdown">
          <li><a href="#">تی شرت</a></li>
          <li><a href="#">کت و شلوار</a></li>
          <li><a href="#">جوراب</a></li>
        </ul>
      </li>
      <li><a href="#">زنانه</a></li>
    </ul>
  </nav>

</div>-->>
